<br><br>
<div style="margin-left: 40%;">
    Search
    <input type="text" (keyup)=id($event)><br><br><br>
    <button class="btn" (click)="getbyid()">Search</button>
    <button id="all" type="submit" style="margin-left: 30px;" class="btn btn-primary" (click)="getall()">All
        Users</button>
    <!--<br><br><br>-->
    <button id="all" type="submit" style="margin-left: 40px;" class="btn btn-primary" (click)="Cancel()">Cancel</button>
    <br><br>
    <div class="card-columns">
        <div class="card" *ngFor="let user of users">
            <div id="cd" class="card-body">
                <h2>Id:{{user[0]}}</h2>
                <h2>First Name:{{user[1]}}</h2>
                <h2>Last Name:{{user[2]}}</h2>
                <!--<h2>Email:{{user[3]}}</h2>-->
                <h2>Email:{{user[4]}}</h2>
                <h2>Contact Number:{{user[5]}}</h2>
                <h2>Address:{{user[6]}}</h2>
                <br>
            </div>
        </div>
    </div>


    <br>
    <div class="card-columns">
        <div class="card">
            <div id="cd" class="card-body">
                <!--<h1>Id:{{u_id}}</h1>-->
                <h2>First Name:{{u_f_name}}</h2>
                <h2>Last Name:{{u_l_name}}</h2>
                <h2>Email:{{u_email}}</h2>
                <h2>Contact Number:{{u_contact}}</h2>
                <h2>Address:{{u_address}}</h2>
            </div>
        </div>
    </div>


</div>