<mat-toolbar style="background-color: rgb(46, 43, 43);" color="primary">
  <div style="
  height: 60px;"></div>
  <button style="border: 1px solid white;text-align: center;" mat-button routerLink="/login">
    Login
  </button>

  <button style="margin-left: 25px;border: 1px solid white;text-align: center;" mat-button routerLink="/register">
    Register
  </button>

  <button style="margin-left: 78%;border: 1px solid white;text-align: center;" mat-button routerLink="/login">
    Logout
  </button>

  <!--  <button mat-button routerLink="/group">
    <span class="material-icons">
    </span>group</button>


   <button mat-button routerLink="/update">
      <span class="material-icons">

    </span>Update</button>

    <button mat-button routerLink="/delete">
        <span class="material-icons">

        </span>Delete</button>

        <button mat-button routerLink="/search">
          <span class="material-icons">

          </span>Search</button>
-->

</mat-toolbar>


<router-outlet></router-outlet>