<!--<div style="background-color: grey;height: 90vh;">-->

<div>
    <div style="font-size: 20px;margin-left: 45%;padding-top: 3%;"><i><b>Welcome to PUCSD Dashboard...!!</b></i>
    </div>

    <h1>
        <div style="font-size: 20px; margin-left: 75%;padding-top: 3%;"> Helpline number:02012345678</div>
    </h1>
</div>


<button routerLink="/home" style="margin-left: 30px;" mat-raised-button color="primary" (click)="onSubmit()">Help
    Desk</button>

<button routerLink="/home" style="margin-left: 30px;" mat-raised-button color="primary" (click)="onSave()">Health
    Check</button>
<br>
<div class="image">
</div>
<!--</div>-->