<h1 class="mleft">Admin Section</h1>
<p class="center">All the queries will be answered.Stay updated for further notice</p>
<div style="margin-left: 43%;">

    <br>
    <div class="dropdown" id="wid">
        <button type="button" class="dropbtn mleftt" data-toggle="dropdown">
            Student Details
        </button>
        <div class="dropdown-content">
            <a class="dropdown-item" routerLink="/searchuser" routerLinkActive="active">Search student</a>
            <a class="dropdown-item" routerLink="/help" routerLinkActive="active">Student Queries</a>
            <a class="dropdown-item" routerLink="/userhealth" routerLinkActive="active">Students Health</a>
            <!--<a class="dropdown-item" routerLink="/deleteuser" routerLinkActive="active">Delete User</a>-->
            <br>
        </div>
    </div>
    <!--<button style="margin-left:20%;" name="save" mat-raised-button color="primary" (click)="OnSubmit()">All
        Students Query
    </button>-->

</div>

<br>
<div class="image">
</div>