<!-- <p>update works!</p> -->
<br>
<h2 style="margin-left: 50%;font-size: 30px;">Update</h2>
<br>
<form id="newuser" name="newuser" #updateuser="ngForm" (ngSubmit) = put(updateuser.value)>

    <table>
        <tr>


                <input class="div" type="text" name="id" id="id" placeholder="id" ngModel><br>

        </tr>
         <br>
        <tr>

            <td>
                <input class="div" type="text" name="first_name" id="first_name" placeholder="first_name" ngModel><br>
            </td>
        </tr>
 	<br>
        <tr>

            <td>
                <input class="div" type="text" name="last_name" id="last_name" placeholder="last_name" ngModel><br>
            </td>
        </tr>
	<br>
        <tr>

            <td>
                <input class="div" type="text" name="email" id="email" placeholder="email" ngModel><br>
            </td>
        </tr>
	<br>
        <tr>

            <td>
                <input class="div" type="text" name="password" id="password" placeholder="password" ngModel><br>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <button  class="button button4 div2" type="submit" >Update User</button>



                <button  class="button button4 div1" type="reset" > Reset</button>

            </td>
        </tr>
    </table>
</form>

<br>

<h3 *ngIf="isUpdated">{{Confirmation}}</h3>
